/*Typography*/
html {
	font-size: 100%;
}

body {
    line-height: 1.45em;
}

#container {
    width: 95%;
    margin: 0 auto;
}

body {
	font-family: "Droid Serif", Georgia, "Times New Roman", serif;
	background-color: #e2f7ff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
    font-weight: 400;
}

h1 {
	font-size: 2em;
	color: #6faaed;
  font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
	margin-top: 0.5em;
}

h2 {
    font-size: 1.5em;
		color: #6faaed;
		font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
    margin-bottom: 0.8em;
}

p {
	color: #666666;
  font-family: 'Droid Serif', Georgia, "Times New Roman", serif;
  font-size: 1em;
  line-height: 1.5em;
	margin-bottom: 0.8em;
}

aside p {
    font-size: 0.8em;
    line-height: 1.2em;
}

.caption {
    font-size: 0.7em;
    text-align: right;
    margin-top: 0;
}

.dateline {
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
    font-size: 0.7em;
    color: #aaa;
    margin-bottom: 0;
}

article {
	width: 90%;
	margin: 0 auto;
}

/*Navigation styles*/

nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

nav ul li {
    list-style-type: none;
    padding: 3px;
    margin: 0;
		border-bottom: 1px solid #ccc;
		margin-bottom: 10px;
}

nav ul li a {
    text-decoration: none;
    margin-bottom: 1em;
		display: block;
		color: #ffffff;
		background-color: #6faaed;
		font-weight: bold;
		text-align:center;
		padding: 4px;
		font-family: "Droid Sans Mono", Arial, sans-serif;
}

#bar {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 0.7em;
    /*border-bottom: 1px solid #ccc;*/
}

.logo {
    border-radius: 5%;
    margin-left: 0.5em;
    height: 3em;
}


footer {
    border-top: 1px solid #ccc;
}

footer p {
    font-size: 0.8em;
}

a {
    color: #000;
}

a:hover {
    color: #bd5532;
}

img, .caption {
    display: none;
}

#secondlink a:link, .navigation a:visited {
  text-decoration: none;
}

.navigation a:hover, .navigation a:active {
  background-color: #002c9b;
}

.navigation li:last-of-type a{
  border-bottom: none;
}
/*Image width*/

img{
  width:95%;
  padding: 0 10px;
  border: none;
  margin:5px auto;
}

/*Colors for different parts of page */

/*Setting up flexible boxes for our content*/

.wrapper {
    display: flex;
    flex-flow: row wrap;
}

article, body, aside, footer, img {
  flex: 1 100%;
  padding: 10px;
}

header {
  display: flex;
  flex-flow: row;
  background-color: #65A886;
  margin: 0;
  padding: 0 10px;
}

.menu-trigger {
  order: 1;
}

header h1 {
  order: 2;
  font-size: 2em;
}

nav ul {
  display: none;
}

@media screen and (min-width: 600px) {

    #container {
        width: 80%;
    }

		#imgcont {
        width: 80%;
    }

    img, .caption {
        display: block;
    }

		img {
			width: 100%;
			height: 0%;
			padding: 10px;
			border: none;
			margin: 0;
		}


		header {
			display: flex;
		  flex-flow: row;
		  margin: 0;
		  padding: 0 10px;
	  }

		/*.menu-trigger {
		  order: 1;
		}*/

	  h1 {
	    text-align: left;
	    padding: 0 10px;
	  }

	  .nav {
	    flex-flow: row;
	  }

	  .nav li {
	    border: none;
	    margin: 5px;
	    padding: 10px;
	    background: #009077;
	  }

	  .nav a:hover {
	    background: #00806A;
	  }

	  .wrapper {
	    display: flex;
	    flex-flow: column;
	  }

	  .story {
	    display: flex;
	    flex-flow: row;
	  }

	  aside {
	    flex: 1 auto;
	    /*margin-right: 20px;*/
	    padding: 10px;
	  }

		nav ul {
	    display: flex;
	  }

	  nav ul li {
	    border-top: none;
	  }

	  header h1 {
	    order: 1;
	  }

	  nav {
	    order: 2;
	  }

	  .menu-trigger {
	    display: none;
	  }
}

@media screen and (min-width: 700px) {

    #container {
        width: 70%;
        max-width: 60em;
    }

		#imgcont {
        width: 70%;
        /*max-width: 60em;*/
    }

    #bar {
        padding: 10px;
    }

    article {
        max-width: 40em;
        margin-left: 5em;
    }

		nav ul {
	    display: flex;
	  }

	  nav ul li {
	    border-top: none;
	  }

	  header h1 {
	    order: 1;
	  }

	  nav {
	    order: 2;
	  }

	  .menu-trigger {
	    display: none;
	  }

}
