/*Typography*/
html {
	font-size: 100%;
}

body {
	font-family: "Droid Serif", Georgia, "Times New Roman", serif;
	background-color: #e2f7ff;
}

h1 {
	font-size: 2em;
	color: #6faaed;
  font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
}

p {
	color: #666666;
  font-family: 'Droid Serif', Georgia, "Times New Roman", serif;
  font-size: 1em;
  line-height: 1.5em;
}

article {
	width: 90%;
	margin: 0 auto;
}

/*Navigation styles*/
.navigation {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
flex-flow: column;
}

.navigation li {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.navigation a:link, .navigation a:visited {
  display: block;
  color: #ffffff;
  background-color: #6faaed;
  font-weight: bold;
  text-align:center;
  text-decoration: none;
  padding: 4px;
  font-family: "Droid Sans Mono", Arial, sans-serif;
}

#secondlink a:link, .navigation a:visited {
  text-decoration: none;
}

.navigation a:hover, .navigation a:active {
  background-color: #002c9b;
}

.navigation li:last-of-type a{
  border-bottom: none;
}
/*Image width*/

img {
	width: 45%;
  border: none;
	margin-right: 10px;

}

/*Colors for different parts of page */

/*Setting up flexible boxes for our content*/

.wrapper {
    display: flex;
    flex-flow: row wrap;
}

header, article, body, aside, footer {
  flex: 1 100%;
  padding: 10px;
}


/*These styles activate when the page is larger than 800px wide*/

@media (min-width:800px) {

    .navigation {
        flex-flow: row wrap;
        justify-content: flex-end;
    }

    .navigation a {
        border: none;
    }

    .navigation a:hover {
    	background: #002c9b;
    }

    .aside-1 {
        flex: 1 auto;
    }

    article {
		flex: 3 0px;
	}

    .aside-1 {
        order: 2;
    }

    article {
        order: 1;
    }


    footer {
        order: 3;
    }
	}

	/*These styles apply to the Flexbox image technique */

	article {
			display: flex;
			flex-flow: row;
			flex-wrap: wrap;
	}

    /*This code is for the first image attempt -- the object-fit property*/

		.image {
				width: 45%;
				float: right;
				margin-right: 5px;
		}

		.story {
				width: 45%;
		}

		.first {
        margin-top: 0;
    }
