/* =================================
  Flexbox
==================================== */

.container {
	display: flex;
	height: 300px;
}

.item-2 {
	align-self: flex-start;
	align-self: flex-end;
	/*align-self: center;*/
	/*align-self: stretch;
	align-self: baseline;*/
}

.item-1{
	align-self: center;
}
/*.item-1{
	font-size: 2em
}

.item-3 {
	font-size: .5em
}*/
